<h1>Hello all events what are happening are</h1>
<% @events.each do |event| %>
  <div>
    <%= event.name %> 
  </div>
<% end %>
<%= link_to "Sign in", new_user_session_path %>
<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
<% end %>